language: node_js
node_js:
  - "5.4"

before_install:
  - sudo apt-get install -qq update

install:
  - npm install

services:
  - mongodb

before_script:
  - sleep 15
  - mongo sonicwall --eval 'db.user.remove();'
  - npm start
