language: node_js
node_js:
  - "5.4"
  - "5.5"

install:
  - npm install

services:
  - mongodb

before_script:
  - sleep 15
  - mongo sonicwall --eval 'db.user.remove();'
  - mongo sonciwall --eval 'db.user.insert({"username":"admin", "password":"password"ï¼Œ"role":"admin"});'
  - npm start&
  - sleep 5

script:
  - npm test

after_script:
  - killall npm
