/* login */

.loginbox,
.not-box {
    width: 400px;
    margin: 50px auto 100px auto;
}

.loginbox .logo {
    height: 150px;
    text-align: center;
}

.loginbox .logo .logo-image {
    height: 140px;
}

.loginbox .loginbox-title {
    background: #FFFFFF;
    height: 70px;
    border-radius: 3px 3px 0 0;
    text-align: center;
}

.loginbox .loginbox-title .logo {
    padding: 12px 20px;
}

.loginbox .loginbox-title h3 {
    color: #666666;
    padding: 0 20px;
    line-height: 50px;
    font-size: 22spx;
    border-bottom: 1px solid #F2F2F2;
}

.loginbox .login-content {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    padding-bottom: 20px;
}

.loginbox .login-content .text {
    width: 330px;
    margin: 0 auto;
    line-height: 25px;
}

.loginbox .login-content .text h5 {
    font-size: 14px;
}

.loginbox .login-content {
    background: #FFFFFF;
    height: auto!important;
    min-height: 100px;
    height: 100px;
    font-size: 14px;
}

.loginbox .login-content .row {
    width: 300px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
}

.loginbox .login-content .row .field {
    position: absolute;
    left: 40px;
    top: 23px;
    height: 35px;
    line-height: 35px;
    pointer-events: none;
}

.loginbox .login-content .tips {
    padding: 5px 0;
    height: 25px;
    font-size: 14px;
}

.loginbox .login-content .tips input {
    margin-right: 5px;
}

.loginbox .login-content .btnArea {
    padding: 0;
    margin: 15px auto 15px auto;
}

.loginbox .login-content .row .noPic {
    background-image: none;
    padding: 0 15px;
    width: 300px;
    height: 34px;
    line-height: 34px;
}

.go-regist {
    text-align: center;
    height: 80px;
    line-height: 80px;
}

.btnArea .abtn {
    font-size: 14px;
    padding: 0 30px;
}

a.link,
.go-regist a,
.loginbox label a {
    color: #006DA7;
    cursor: pointer;
    line-height: 25px;
}

.login-error {
    display: none;
    width: 330px;
    margin: 0 auto;
    color: red;
}

.tipsResults {
    display: none;
    padding: 30px 50px;
    text-align: center;
}

.tipsResults a {
    color: #5277A4;
}

.loginbox .autosuggest {
    position: absolute;
    left: 0;
    top: 54px;
    z-index: 1000;
}

.loginbox .autosuggest li {
    width: 320px;
    padding: 5px 5px;
    border-bottom: 1px solid #CCCCCC;
}

.login-btn {
    display: block;
    background: url(../images/bg.png) repeat-x left top;
    width: 300px;
    text-align: center;
    height: 35px;
    line-height: 35px;
    color: white;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #215A8D;
    /*width: 150px;*/
}


/* 输入框 */

.input-text {
    background: white;
    border: 1px solid #AAAAAA;
    height: 23px;
    line-height: 23px;
    color: #666666;
    padding: 0 5px;
    border-radius: 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset;
}

.input-text1 {
    background: white;
    border: 1px solid #AAAAAA;
    height: 25px;
    line-height: 25px;
    color: #666666;
    padding: 0 5px;
    width: 330px;
    border-radius: 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset;
}

.input-text2 {
    background: white;
    border: 1px solid #AAAAAA;
    height: 35px;
    line-height: 35px;
    color: #666666;
    padding: 0 5px;
    width: 330px;
    border-radius: 1px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .1) inset;
}

.input-text-user[type=text] {
    border: #D8D8D8 1px solid;
    border-radius: 3px;
    width: 300px;
    /*padding-left: 40px;*/
    height: 32px;
    line-height: 32px;
    /*background: white url(../images/img.png) no-repeat 0px top;*/
}

.input-text-password[type=password] {
    border: #D8D8D8 1px solid;
    border-radius: 3px;
    width: 300px;
    /*padding-left: 40px;*/
    height: 32px;
    line-height: 32px;
    /*background: white url(../images/img.png) no-repeat 0px -50px;*/
}

.input-text-user.error {
    background: #FFD2D2 url(../images/img.png) no-repeat 0px top;
    border-width: 3px;
}

.input-text-password.error {
    background: #FFD2D2 url(../images/img.png) no-repeat 0px -50px;
    border-width: 3px;
}


/* 底部 */

#footer .copyright {
    text-align: left;
    border-left: 1px solid #D2DDF4;
    padding: 10px 0 10px 15px;
    margin-left: 15px;
    vertical-align: top;
}

#footer a {
    color: #737C8C;
}

#footer a:hover {
    color: #333333;
    text-decoration: underline;
}

#footer {
    position: relative;
    z-index: 100;
    width: 100%;
    min-width: 1280px;
    height: 60px;
    padding-top: 10px;
    line-height: 20px;
    color: #A9AFB7;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}


/* 公用 */

.overflow {
    overflow: hidden;
}

.public-content {
    padding: 30px 80px;
}

.dblock {
    font-size: 0;
    /* 所有浏览器 */
    letter-spacing: 0;
    *letter-spacing: normal;
}

.inline-block {
    font-size: 14px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    letter-spacing: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    .dblock {
        letter-spacing: -5px;
        /* Safari 等不支持字体大小为 0 的浏览器 */
    }
}